{
  "swagger": "2.0",
  "info": {
    "title": "My API",
    "description": "Week7 Clone Coding API",
    "version": "1.0.0"
  },
  "host": "www.spartaseosu.shop",
  "basePath": "/",
  "tags": [
    {
      "name": "회원 가입API",
      "description": "회원가입이요"
    },
    {
      "name": "로그인API",
      "description": ""
    },
    {
      "name": "게시물API",
      "description": ""
    },
    {
      "name": "장바구니API",
      "description": ""
    }
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "any description..."
    }
  },
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/posts": {
      "post": {
        "tags": ["게시물API"],
        "description": "상품 게시물 생성",
        "parameters": [          
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "미국에서 도축된 한우"
                },
                "option": {
                  "example": "보통(16mm)"
                },
                "amount": {
                  "example": 5
                },
                "cost": {
                  "example": 21300
                },
                "item": {
                  "example": "미국산 한우"
                },
                "content": {
                  "example": "100g당 3,000원"
                },
                "origin": {
                  "example": "캘리포니아"
                },
                "deadline":{ 
                  "example": "2022년 11월 11일"
                },
                "imgUrl":{ 
                  "example": "https://jeongyookgak-commerce.s3.ap-northeast-2.amazonaws.com/jyg-custom-seoul-app/frontend/thumbnails/transparent_background/porkbelly-fresh-list.png"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "상품 생성 완료"
          },
          "401": {
            "description": "경로 요청이 잘못되었습니다."
          }
        }
      },
      "get": {
        "tags": ["게시물API"],
        "description": "모든 상품 조회",
        "responses": {
          "200": {
            "description": "모든 상품 조회"
          },
          "401": {
            "description": "경로 요청이 잘못되었습니다."
          }
        }
      }
    },
    "/posts/{postId}/": {
      "get": {
        "tags": ["게시물API"],
        "description": "상품 상세 조회",
        "parameters": [
          {
            "in": "path",
            "type": "integer",
            "name": "postId",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "상품 조회 완료"
          },
          "400": {
            "description": "없는 상품입니다."
          }
        }
      },
      "put": {
        "tags": ["게시물API"],
        "description": "상품 옵션 변경",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "장바구니 수량 수정 완료"
          },
          "401": {
            "description": "로그인이 필요한 기능입니다."
          }
        }
      },
      "delete": {
        "tags": ["게시물API"],
        "description": "상품 삭제",
        "parameters": [
          {
            "in": "path",
            "type": "integer",
            "name": "postId"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "장바구니 수량 삭제 완료"
          },
          "401": {
            "description": "로그인이 필요한 기능입니다."
          }
        }
      }
    },
    "/users/signup": {
      "post": {
        "description": "회원가입 기능입니더~",
        "tags": ["회원 가입API"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "email"
                },
                "nickname": {
                  "example": "nickname"
                },
                "password": {
                  "example": "password"
                },
                "confirmPassword": {
                  "example": "confirmPassword"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/users/login": {
      "post": {
        "tags": ["로그인API"],
        "description": "로그인",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "이메일"
                },
                "password": {
                  "example": "패스워드"
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carts/": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}
